In [1]:
#1
import pandas as pd

In [5]:
#2 e 3
pokemon = pd.DataFrame({
                    'Evolution': ['Ivysaur', 'Charmelon','Wartotle', 'Metapod'],
                    'hp': [45,39,44,45],
                    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
                    'pokedex': ['yes', 'no', 'yes', 'no'],
                    'type': ['grass', 'fire', 'water', 'bug']
                    })
pokemon

   Evolution  hp        name pokedex   type
0    Ivysaur  45   Bulbasaur     yes  grass
1  Charmelon  39  Charmander      no   fire
2   Wartotle  44    Squirtle     yes  water
3    Metapod  45    Caterpie      no    bug

In [12]:
#4
pokemon = pokemon[['name', 'type', 'hp', 'Evolution','pokedex']]
pokemon

         name   type  hp  Evolution pokedex
0   Bulbasaur  grass  45    Ivysaur     yes
1  Charmander   fire  39  Charmelon      no
2    Squirtle  water  44   Wartotle     yes
3    Caterpie    bug  45    Metapod      no

In [13]:
#5
pokemon['lugar'] = ['zona','metro','trem','clubDallas']
pokemon

         name   type  hp  Evolution pokedex       lugar
0   Bulbasaur  grass  45    Ivysaur     yes        zona
1  Charmander   fire  39  Charmelon      no       metro
2    Squirtle  water  44   Wartotle     yes        trem
3    Caterpie    bug  45    Metapod      no  clubDallas

In [14]:
#6
pokemon.dtypes

name         object
type         object
hp            int64
Evolution    object
pokedex      object
lugar        object
dtype: object