In [61]:
#1
import pandas as pd

In [62]:
#2 e 3
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t', index_col = 'order_id')
chipo.head(5)

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [63]:
#4 Não consigo visualizar o 4, então tive que seguir o gabarito
formatando = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(formatando)
chipo.item_price.head(5)

order_id
1     2.39
1     3.39
1     3.39
1     2.39
2    16.98
Name: item_price, dtype: float64

In [64]:
#Filtrando pedidos iguais
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
chipo_one_prod = chipo_filtro[chipo_filtered.quantity == 1]
chipo_one_prod[chipo_one_prod['item_price'] > 10].item_name.nunique()

12

In [76]:
#5 Não entendi muito bem o exercicio, portanto fiz da minha forma. Mas bateu com o gabarito não com a resolução
chipoSemRep = chipo.drop_duplicates(['item_name', 'quantity'])
selecao = list(chipoSemRep.quantity == 1)
chipo_coisas = chipoSemRep[selecao].sort_values('item_price',ascending=False)
chipo_coisas[['item_name','item_price']]

                                      item_name  item_price
order_id
250                            Steak Salad Bowl       11.89
501                         Barbacoa Salad Bowl       11.89
468                         Carnitas Salad Bowl       11.89
4                                 Steak Burrito       11.75
75                        Barbacoa Crispy Tacos       11.75
19                                Barbacoa Bowl       11.75
304                           Veggie Soft Tacos       11.25
83                            Veggie Salad Bowl       11.25
28                                  Veggie Bowl       11.25
26                               Veggie Burrito       11.25
109                               Chicken Salad       10.98
3                                  Chicken Bowl       10.98
4                              Steak Soft Tacos        9.25
230                       Carnitas Crispy Tacos        9.25
103                         Carnitas Soft Tacos        9.25
26                          Barbacoa Soft Tacos        9.25
40                           Steak Crispy Tacos        9.25
276                                 Steak Salad        8.99
25                                   Steak Bowl        8.99
1500                             Carnitas Salad        8.99
11                             Barbacoa Burrito        8.99
14                             Carnitas Burrito        8.99
17                                Carnitas Bowl        8.99
6                          Chicken Crispy Tacos        8.75
6                            Chicken Soft Tacos        8.75
20                           Chicken Salad Bowl        8.75
668                         Veggie Crispy Tacos        8.49
8                               Chicken Burrito        8.49
686                                Veggie Salad        8.49
575                                       Salad        7.40
214                                     Burrito        7.40
217                                Crispy Tacos        7.40
279                                        Bowl        7.40
129                           6 Pack Soft Drink        6.49
5                           Chips and Guacamole        4.45
1                                          Izze        3.39
1                              Nantucket Nectar        3.39
279           Chips and Mild Fresh Tomato Salsa        3.00
49          Chips and Tomatillo Red Chili Salsa        2.95
102          Chips and Roasted Chili Corn Salsa        2.95
18        Chips and Tomatillo Green Chili Salsa        2.95
1         Chips and Tomatillo-Green Chili Salsa        2.39
130         Chips and Tomatillo-Red Chili Salsa        2.39
85           Chips and Roasted Chili-Corn Salsa        2.39
1                  Chips and Fresh Tomato Salsa        2.39
19                                        Chips        2.15
3                                 Side of Chips        1.69
114                           Canned Soft Drink        1.25
14                                  Canned Soda        1.09
17                                Bottled Water        1.09

In [78]:
#6
chipo.sort_values('item_name')

,quantity,item_name,choice_description,item_price
order_id,,,,
1360,2,6 Pack Soft Drink,[Diet Coke],12.98
148,1,6 Pack Soft Drink,[Diet Coke],6.49
749,1,6 Pack Soft Drink,[Coke],6.49
754,1,6 Pack Soft Drink,[Diet Coke],6.49
1076,1,6 Pack Soft Drink,[Coke],6.49
1373,1,6 Pack Soft Drink,[Coke],6.49
230,1,6 Pack Soft Drink,[Diet Coke],6.49
774,1,6 Pack Soft Drink,[Diet Coke],6.49
776,1,6 Pack Soft Drink,[Coke],6.49
784,1,6 Pack Soft Drink,[Diet Coke],6.49
1537,1,6 Pack Soft Drink,[Coke],6.49
129,1,6 Pack Soft Drink,[Sprite],6.49
798,1,6 Pack Soft Drink,[Diet Coke],6.49
481,1,6 Pack Soft Drink,[Coke],6.49
1554,1,6 Pack Soft Drink,[Diet Coke],6.49
465,1,6 Pack Soft Drink,[Coke],6.49
1558,1,6 Pack Soft Drink,[Diet Coke],6.49
849,1,6 Pack Soft Drink,[Coke],6.49
1196,1,6 Pack Soft Drink,[Diet Coke],6.49
1803,1,6 Pack Soft Drink,[Lemonade],6.49
1664,1,6 Pack Soft Drink,[Diet Coke],6.49
1666,1,6 Pack Soft Drink,[Coke],6.49
1800,1,6 Pack Soft Drink,[Diet Coke],6.49
1798,1,6 Pack Soft Drink,[Diet Coke],6.49
1525,1,6 Pack Soft Drink,[Sprite],6.49
949,1,6 Pack Soft Drink,[Coke],6.49
1248,1,6 Pack Soft Drink,[Diet Coke],6.49
1253,1,6 Pack Soft Drink,[Lemonade],6.49
264,1,6 Pack Soft Drink,[Diet Coke],6.49
422,1,6 Pack Soft Drink,[Sprite],6.49
...,...,...,...,...
1192,1,Veggie Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1263,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
1635,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
1094,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.49
1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25
760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75
913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75
1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25
1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25
1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

In [82]:
#7
chipo_ordenado = chipo.sort_values('item_price', ascending = False)
chipo_ordenado.head(1)

,quantity,item_name,choice_description,item_price
order_id,,,,
1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [84]:
#8
selecao = list(chipo['item_name'] == 'Veggie Salad Bowl')
chipo[selecao].shape[0]

18